/* styles.css for index.html */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin: auto;
    width: 50%;
  }
  
  header {
    background-color: #333;
    padding: 10px;
  }

  form {
    padding-top: 10px;
    display:flex;
    flex-direction: column;
  }

  h1{
    margin: auto;
    width: 50%;
    text-align: center;
  }

  input[type="text"],
  input[type="password"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc71;
    border-radius: 3px;
    margin-left: 17%;
    border-radius: 60px;
  }

  label{
    text-align: center;
  }

  button{
      border-radius: 60px;
      padding: 10px 20px;
      background-color: blue;
      color: #fff;
      border: black;
      cursor: pointer;
      width: auto;
      text-align: center;
      margin-left: 40%;
      margin-right: 40%;
  }